.main {
  display: flex;
  /* margin: 0.2% 0% 1%; */
}

.card {
  width: 20rem;
  margin-top: 2%;
  margin-bottom: 2%;
  /* margin-left: 4px; */
  direction: ltr; 
}

.col1 {
  height: 87vh;
  direction: rtl;
  /* width: -50%; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: end;
}

.col1::-webkit-scrollbar {
  width: 1px;
  background: transparent;
  direction: rtl;
}

.col1::-webkit-scrollbar-thumb {
  background: #343a40;
}


.col2 {
  align-self: center;
  padding-left: 20%;
  vertical-align: center;
}

.extra-button {
  display: flex;
}

.extra-button::content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer{
  text-align: center;
  border-top: 1px solid #343a40;
}